# ===============================
# Library for Global Dependencies
# ===============================

# Core scientific stack
numpy
pandas
scipy

# Machine learning
scikit-learn
joblib

# Visualization & logging
matplotlib
seaborn
mlflow

# Web app
streamlit